<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>welcome to grafiki, </h1>
    <h2><%= @user.email.split('@')[0] %></h2>
    <p>
      we are happy to have you with us.
    </p>
    <p>
      login here: <a href='http://grafiki.org/users/sign_in'>grafiki.org/users/sign_in</a>
    </p>
  </body>
</html>

