<% content_for :title do %> | artwork<% end %>
<% @bounties.each_with_index do |bounty,ind| %>
<% break if ind > 100 %><%# TODO: PAGINATE REMAINING ARTWORKS %>
<% next unless bounty.artist %>
<div class="in-float" style="height:auto;margin-top:5px">
<div id="art<%=bounty.id%>"></div>
</div>
<% end %>
<script>
$( document ).ready(function(){
  Array(100).fill().forEach(function(val,i){
    $.get ( '/bounties/'+i+'.txt' ).then(function(rendered){
      $( "#art"+i ).html( rendered );
    });
  });
});
</script>
