<% content_for :title do %> | about<% end %>
<div class="box">
<h1> what is grafiki? </h1>
<p>grafiki is a gratuity platform for public art.</p>

<p>it's how artists keep getting paid for their work long after it's finished, and how the community thanks the people who make their neighborhood special.</p>

<p>it's how a passionate art-lover can attract top local talent to help make an area beautiful and unique.</p>

<p>finally, it is the world's first truly global database of public artwork. up to now, artists have needed museums or online presence to get the word out and make a living, sometimes compromising their work in the process.</p>

<p>on grafiki, artists' work in the physical world can reach anyone on the planet. the artist doesn't need to run a website or even reveal their name. some of today's most influential artists are pseudonymous, and maintaining this balance is essential for true art to prosper.</p>

<h2> how does it work? </h2>
<p>
</div>
