/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body { 
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif; 
  background-color: transparent;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#invis-top-menu {
  padding-top: 0.3rem;
  float: left;
  z-index: 1;
  margin: 5px;
  width: 100%;
  pointer-events: none;
}

#invis-top-menu * {
  pointer-events: all;
}

#hed {
  font-size: 2em;
  padding: 0 15px;
  margin-right: 40px;
}

#searchbar {
  width: 400px;
  padding-right: 0;
}

.in-float {
  height: 2em;
  line-height: 2em;
  background-color: #fff;
  color: #000;
  float: left;
  box-shadow: 1px 1px 1px #AAA;
  margin: 0 5px;
  padding: 1em;
}

.in-float label {
  font-size: 1em;
  margin: 10px;
  vertical-align: top;
}

.in-float input {
  border: none;
  font-size: 1em;
  font-family: inherit;
}

.box .in-float {
  display: block;
}

.box {
  margin: 10px;
  float: left;
  clear: both;
}

.box input[type=submit] {
  background: #fff;
  font-weight: bold;
}

#search-text-input {
  font-size: 1em;
  width: 100%;
  border: 0px;
  background: transparent;
}

#search-button {
  height: 64px;
  background-color: #cdcccc;
  border: 0;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  margin: 0;
  float: right;
  margin-top: -3rem;
  box-shadow: none;
}

.headline-info {
  font-weight: normal;
  font-size: smaller;
}

code {
  background-color: #444;
  padding: 2px 6px;
  color: #fff;
  border-radius: 2px;
}

input:focus{
  outline: none;
}

  .row {
    box-shadow: 1px 1px 1px #AAA; 
    margin: 10px;
    padding: 0px;
    display: inline-block;
    color: #000;
  }
 
  .row div {
    display: inline-block;
    padding: 10px;
  }

  .num {
    background: #B8E4BD;
    padding: 10px;
  }

  .num.fil {
    background: forestgreen;
    color: #fff;
    text-shadow: 1px 1px #000;
    font-weight: bold;
    float: left;
    margin: 0;
  }

  .sid {
    text-align:center;
    overflow-wrap: break-word;
    max-width: 300px;
    display: inline-block;
    float: left;
    color: #333;
  }

  .inf {
    font-size: 0.8rem;
  }

  .tyt {
    font-weight: bold;
    text-align: center;
  }

  .tyt code {
    font-weight: normal;
  }

  .tic {
    float: right;
    padding: 10px;
    margin: 0;
  }

  .nym {
    font-weight: bold;
    padding: 5px;
  }

  .loc {
    font-family: monospace;
    background: #DDD;
    border-radius: 3px;
    padding: 3px !important;
  }

  .who {
    float: right;
    margin: 5px;
    padding: 5px;
  }

  .how {
    font-style: italic;
    color: #AAA;
  }

  .wut {
    color: #999;
    max-width: 500px;
    overflow-wrap: break-word;
    display: block !important;
  }

  .pic {
  }

  .adr {
    font-family: monospace;
    background: #b8e4ab;
    border-radius: 3px;
    padding: 3px !important;
    margin: 0px;
  }

  .qr {  
    max-width: 200px;
    margin: 0;
    padding: 0;
    display: block;
    margin: auto;
  }

  .fill {
    margin: 5px;
    padding: 10px 20px;
    color: #000;
    background: #B8E4BD;
  }

  input[type="submit"] {
    margin: 0;
    padding: 10px;
    background: #eee;
    border: none;
    font-family: inherit;
    font-size: inherit;
  }

  textarea#bounty_description {
    border: 0;
    font-family: Roboto, sans-serif;
    vertical-align: -webkit-baseline-middle;
    min-width: 500px;
    display: block;
    font-size: 1em;
    resize:none;
    min-height: 100px;
  }

  *:focus{
    background-color:#eee;
    outline: none;
  }

  #b-f-d {
    min-height: 150px;
  }

  #about-button {
    position: absolute;
    right: 1em;
  }

  .add-new-button {
    float:left;
    clear:both;
    margin-top: 1em;
  }


  form.button_to {
    float: right;
    display: inline-block;
  }

  .in-float.rod {
    position: absolute;
    right: 1rem;
    top: 5.4rem;
    padding: 0 1em;
    font-size: 0.8rem;
  }

  .in-float.sat {
    right: 5.21rem;
  }
