    <h1>welcome to grafiki, <%= @user.email.split('@')[0] %></h1>
    <p>
      we are happy to have you with us.
    </p>
    <p>
      <%= link_to 'confirm account', confirmation_url(@resource, confirmation_token: @token) %>
    </p>
