    <h1>welcome to grafiki, <%= @user.email.split('@')[0] %></h1>
    <p>
      we are happy to have you with us.
    </p>
    <p>
      login here: <a href='http://grafiki.org/users/sign_in'>grafiki.org/users/sign_in</a>
    </p>
