<% content_for :map do %>
 <div class="in-float" id="pac-box">
   <input id="pac-input" class="searchbar" type="text" placeholder="Find bounties near...">
 </div>
 <div id="map">this a map</div>

 <script>
   function escapeHtml(str) {
     var div = document.createElement('div');
     div.appendChild(document.createTextNode(str));
     return div.innerHTML;
   }
   
   var map;
   var service;
   
   /*
   * SET UP THE HUGE MAPS:
   */
   function initMap() {
     var cen = {lat: 40.7625, lng: -103.974167};
     var zum = 5;
     map = new google.maps.Map(document.getElementById('map'), {
       zoom: zum,
       center: cen
     });	
     map.setOptions({ mapTypeId: google.maps.MapTypeId.SATELLITE });

       /*
       *  SET UP SEARCH BOX
       */
       // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        var searchBox = new google.maps.places.SearchBox(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var searchmarkers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          searchmarkers.forEach(function(marker) {
            marker.setMap(null);
          });
          searchmarkers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            searchmarkers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });

/*
 - server side clusterer
    - runs every idle
    - gets coords of current view corners
    - clusters markers, returns clusterflags 
 - infowindows:
    - interior is a div, guid
    - on open, set innerhtml via ajax?
*/

 function drawMarkers(){
   // first, let the user know we are loading.
   $( "#flashes" ).html(`<div class="flash load">loading bounties... </div>`);

   // clear old markers from the map
   if (window.markers){
     window.markers.forEach(function(marker){ marker.setMap(null); });
   }
   window.markers = [];

   // iterate over full db query
   db_response = $.get("/bounties.json").then(function(bounties){ 
     bounties.forEach(function(raw){
       // stringify bounty info from database
       var b = {};
       for (attr in raw) { 
         if (attr=="lat" || attr=="lng" || attr=="amount" || attr=="id") { 
           b[attr] = Number(raw[attr]);
           continue 
         };
         if (typeof(raw[attr]) == "string") {
           b[attr] = escapeHtml(raw[attr]) 
         }
       }; 

       // do not draw this marker if it is outside the view bounds!
       if (!window.bounds.contains(new google.maps.LatLng(b.lat, b.lng))){
         console.log ('skipping '+b.id+": "+b.lat+" "+b.lng);
         return;
       }

       // construct basic marker
       var marker = new google.maps.Marker({
         position: { lat: b.lat, lng: b.lng },
         icon: "http://www.googlemapsmarkers.com/v1/"+
           (function(){ return b.artist ? "a" : "$" })()+"/"+
           (function(){ return b.artist ? "0099FF" : "009900" })()
       }); 

       /* set up the info window shell w/guid */
       var info = new google.maps.InfoWindow({
         maxWidth: 400,
         content: "<div id='marker"+b.id+"'></div>"
       });

       /* WHEN THEY CLICK THE MARKER, OPEN THE INFO WINDOW.
       * MAKE AJAX REQUEST TO GET CONTENTS.
       * WHEN THEY CLICK MARKER AGAIN OR HIT ESC, CLOSE INFO WINDOW */
       marker.addListener('click', function() {
         if (!marker.open) {
           info.open(map, marker);
           marker.open = true;
           window.infosOpen = true;
           var content ;
           $.get("/bounties/"+b.id+".txt").then(function(rendered){ 
             content = rendered;
             $( "#marker"+b.id ).html( content );
           });
         } else {
           info.close();
           marker.open = false;
           window.infosOpen = false;
         }
       });

       // also close if they hit esc
       $(document).on('keyup', function(e) {
         if (e.keyCode == 27 && info.open) {
           info.close();
           marker.open = false;
           window.infosOpen = false;
         }
       });

       // queue marker object for rendering
       markers.push(marker);
     }); // markers finished.

     // break map into grid squares
     var bounds = (function(){
       return window.bounds ? window.bounds : map.getBounds();
     })(),
         ne = bounds.getNorthEast(),
         sw = bounds.getSouthWest();

     // 10*10 = 100 subsquares
     var horizStep = (ne.lat() - sw.lat())/10,
         vertiStep = (ne.lng() - sw.lng())/10;

     for (var i=0;i<10;i++){
       for (var j=0;j<10;j++){
         var swlat = sw.lat()+i*horizStep,
             swlng = sw.lng()+j*vertiStep,
             nelat = sw.lat()+(i+1)*horizStep,
             nelng = sw.lng()+(j+1)*vertiStep;

         var miniSW = new google.maps.LatLng(
             { lat: swlat, 
               lng: swlng }),
             miniNE = new google.maps.LatLng(
             { lat: nelat, 
               lng: nelng });

         var miniBounds = new google.maps.LatLngBounds(miniSW, miniNE);

         var cluster = [];
         for (var k=0;k<markers.length;k++){
           if (markers[k] && miniBounds.contains(markers[k].getPosition())) {
             cluster.push(markers[k]); 
             if (cluster.length > 1) delete markers[k];
           }
         };

         if (cluster.length <= 1) continue; // don't mark an empty square!

         var clustermark = new google.maps.Marker({
           // place clustermarker in center of grid with label # of bounties
           position: {
             lat:sw.lat()+i*horizStep+horizStep/2,
             lng:sw.lng()+j*vertiStep+vertiStep/2
           },
           map: map,
           icon: "http://www.googlemapsmarkers.com/v1/"+
                  String(cluster.length)+"/FFFF00"
         });

         clustermark.addListener('click', function(e){
           map.setCenter({
             lat: e.latLng.lat(),
             lng: e.latLng.lng()
           });
           map.setZoom(map.getZoom()+2);
         });

         markers.push(clustermark);
       };
     };

     // draw all markers
     markers.forEach(function(marker){ 
       if (!marker) { return }; // undefined markers left by delete above
       marker.setMap(map);
     });

     // remove loading message
     $( "#flashes" ).html("");
   });
 }

 <% if params[:id] %>
   $.get("/bounties/<%= params[:id] %>.json").then(function(ub){  
     map.setCenter({lat: ub.lat, lng: ub.lng});
     map.setZoom(20);
   });
 <% end %>
      
 google.maps.event.addListener(map, 'bounds_changed', function() {
   window.bounds = map.getBounds();
 });

 google.maps.event.addListener(map, 'idle', function() {
   if (!window.infosOpen){
     drawMarkers();
   }
 });

 /* custom buttons for satellite and road views */
 $(document).ready(function(){
   $( "#pac-input" ).css( "class", "searchbar" );
   $( "#pac-input" ).focus();
   $( "#road" ).click(function() {
     map.setOptions({ mapTypeId: google.maps.MapTypeId.ROADMAP });
   });
   $( "#sat" ).click(function() {
     map.setOptions({ mapTypeId: google.maps.MapTypeId.SATELLITE });
   });
 });

}
 </script>

 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYj7nHWwgJgu6r8GVUnbsPPQ0cvmVPunM&callback=initMap&libraries=places"></script>
<% end %>
