<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>

      html, body { 
        margin: 0;
        padding: 0;
        font-family: Roboto, sans-serif; 
        background-color: transparent;
      }

      #map {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
      }

      #invis-top-menu {
        float: left;
        z-index: 1;
        margin: 5px;
        width: 100%;
      }

      #hed {
        font-size: 2em;
        padding: 0 15px;
        margin-right: 40px;
      }

      #searchbar {
        width: 400px;
        padding-right: 0;
      }

      .in-float {
        height: 2em;
        line-height: 2em;
        background-color: #fff;
        color: #000;
        float: left;
        box-shadow: 1px 1px 1px #AAA;
        margin: 0 5px;
        padding: 1em;
      }

      #search-text-input {
        font-size: 1em;
        width: 100%;
        border: 0px;
        background: transparent;
      }

      #search-button {
        height: 64px;
        background-color: #cdcccc;
        border: 0;
        font-family: Roboto, sans-serif;
        font-size: 1em;
        margin: 0;
        float: right;
        margin-top: -3rem;
        box-shadow: none;
      }

      .headline-info {
        font-weight: normal;
        font-size: smaller;
      }

      code {
        background-color: #898888;
        padding: 2px;
        color: #fff;
        border-radius: 2px;
      }

      input:focus{
        outline: none;
      }

</style>
</head>
<body>
 <div id="invis-top-menu">
   <div id="hed" class="in-float">grafiki</div>
   <div id="searchbar" class="in-float">
     <form id="search-form" action="">
       <input placeholder="Search for art, bounties, or places..." type="text" id="search-text-input"></input>
       <button action"submit" value="search" id="search-button" class="in-float">search</button>
     </form>
   </div>
   <a href="bounties/new"><div id="add-new-button" class="in-float">+ post a bounty</div></a>
   <a href="bounties"><div id="add-new-button" class="in-float">$ fill a bounty</div></a>
   <a href="bounties/new_art"><div id="add-new-button" class="in-float">^ upload artwork</div></a>
   <a href="about"><div id="about-button" class="in-float">what is grafiki?</div></a>
 </div>
 <div id="map">this a map</div>
 <script>
     var map;
     var service;
     
     function initMap() {
         var tt = {lat: 40.7625, lng: -73.974167};
         map = new google.maps.Map(document.getElementById('map'), {
             zoom: 3,
             center: tt
         });	
     }
 </script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYj7nHWwgJgu6r8GVUnbsPPQ0cvmVPunM&callback=initMap&libraries=places"></script>
</body>
</html>
